*{
    margin: 0;
}

/* .gradient-text{
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.container{
    display: flex;
    gap: 10px;
    justify-content: center ;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(190, 247, 225, 0.901);
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
}

.box{
    border: 5px inset rgba(215, 175, 110, 0.867);
    width: 300px;
    height: 300px;
    background-color: #f3f4f6;
    text-align: center;
    /* border: 2px solid black;  */
    padding-top: 5px;
    border-radius: 10px;
}

.box img{
    /* justify-content: space-between; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    background-color: brown;
    border: 2px solid black;
}

.name{
    border-bottom: 2px solid black;
}

.des{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5px;
}

.social{
    font-size: larger;
    padding-right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

