*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: antiquewhite; */
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: antiquewhite;
    background-image: url("https://images.unsplash.com/photo-1621146027714-e8921770f8d0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-size: cover; */
    background-position: center;
    border-radius: 5px;
    margin-bottom: 20px;
    /* width: 100%; */
    /* height: 75px; */
}

header ul, footer ul{
    list-style-type: none;
}

header ul li, nav ul li{
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
    font-size: x-large;
    cursor: pointer;
    transition: 0.8s all;
    /* transition-duration: 1.5s; */
}
header ul li:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
}
header ul li:hover a, footer ul li:hover a{
    color: burlywood;
}

.right-header{
    text-align: right;
    margin-right: 30px;
    /* border: 5px solid red; */
}

/* .left-header{
    /* text-align: left; */
    /* border: 2px solid black; 
}  */


/* Styling Navbar Section */

nav{
    display: flex;
    background-color: blue;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?q=80&w=712&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.left-nav img{
    height: 45px;
    width: 50px;
    border: 2px inset cornflowerblue;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.right-nav{
    /* display: flex; */
    /* justify-content: flex-end;   */
    margin-left: auto;
    margin-right: 30px;
    margin-top: 7px;
}

.right-nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 700;
    color: #333;
}

.right-nav ul li:hover a{
    color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    transition: all 1s;
}


/* Styling Banner Section */
.banner{
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

.banner img{
    width: 100%;
    height: inherit;
    border-radius: 5px;
    /* transition: ; */
}


/* Styling About-Us Section */
.outer-about h2, .outer-blogs h2, .outer-form h2{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: 900;
    font-size: 40px;
    background-image: linear-gradient(darkblue,greenyellow,aqua,pink,red);
    background-clip: text;
    color: transparent;
}

.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px inset red; */
}

.about-img img{
    height: 200px;
    width: 200px;
    margin-right: 10px;
    transition: 2s all;
}

.about-img img:hover{
 transform: scale(1.1);
}

.about-des p:hover{
    font-size:large;
    color: blueviolet;
    letter-spacing: 2px ;
    transition: color 0.7s ease-in-out;
}



/* Styling Blogs Section */
.inner-blogs{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

.inner-blogs .blogs{
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
}

.blogs img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.blogs-img{
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.inner-blogs .blogs h3{
    text-align: center;
    color: rgba(21, 207, 61, 0.829);
}

.blogs p{
    font-size: medium;
    font-weight: 600;
    text-align: center;
    color: rgba(81, 95, 83, 0.685);
}

.blogs button{
    background-color: blueviolet;
    color: #f2f2f2;
    margin-left: 115px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.blogs button:hover{
    background-color: red;
    color: rgba(175, 209, 111, 0.815);
}



/* Styling for Feedback Form */
.feedback-form{
    width: 360px;
    margin: auto;              /* centers horizontally */
    margin-top: 10px;         /* pushes it down a bit */
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.feedback-form label {
    margin: auto;
    margin-bottom: 5px;
    font-weight: 600;
}

.feedback-form input,
.feedback-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
    border-color: #007bff;
}

/* Prevent textarea resize */
.feedback-form textarea {
    resize: none;
}

.form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}




/* Styling Footer Section */
footer{
    margin: 10px;
    font-size: 25px;
    align-items: center;
    border: 2px solid black;
    background-image: url("https://images.unsplash.com/photo-1621146027714-e8921770f8d0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-size: cover; */
    color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: inline-block; */
}

.foot h5{
    /* border: 2px solid black; */
    padding-left: 35%;
    background-image: linear-gradient(darkblue,greenyellow,aqua,pink,red);
    background-clip: text;
    color: transparent;
}

.foot ul li{
    display: inline;
    margin-right: 90px;
}