*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: antiquewhite; */
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: antiquewhite;
    background-image: url("https://images.unsplash.com/photo-1621146027714-e8921770f8d0?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-size: cover; */
    background-position: center;
    border-radius: 5px;
    margin-bottom: 20px;
    /* width: 100%; */
    /* height: 75px; */
}

header ul{
    list-style-type: none;
}

header ul li, nav ul li{
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
    font-size: x-large;
    cursor: pointer;
    transition: 0.8s all;
    /* transition-duration: 1.5s; */
}
header ul li:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
}
header ul li:hover a{
    color: burlywood;
}

.right-header{
    text-align: right;
    margin-right: 30px;
    /* border: 5px solid red; */
}

/* .left-header{
    /* text-align: left; */
    /* border: 2px solid black; 
}  */


/* Styling Navbar Section */

nav{
    display: flex;
    background-color: blue;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?q=80&w=712&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.left-nav img{
    height: 45px;
    width: 50px;
    border: 2px inset cornflowerblue;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.right-nav{
    /* display: flex; */
    /* justify-content: flex-end;   */
    margin-left: auto;
    margin-right: 30px;
    margin-top: 7px;
}

.right-nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 700;
    color: #333;
}

.right-nav ul li:hover a{
    color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    transition: all 1s;
}




